@page "/list-produits"

<MudTable Items="@Elements" Dense="true" Hover="true" Bordered="true" Striped="true" Filter="new Func<ProduitViewModel,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Liste des catégories</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="searchString1" Placeholder="Rechercher" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        <MudSpacer />
        <MudTooltip Text="Ajouter un article" Color="Color.Primary" Placement="Placement.Top" Arrow="true">
            <MudIconButton Color="Color.Primary" Variant="Variant.Filled" OnClick="add" Icon="@Icons.Material.Filled.Add" />
        </MudTooltip>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh></MudTh>
        <MudTh>Catégorie</MudTh>
        <MudTh>Désignation</MudTh>
        <MudTh>Prix d'achat</MudTh>
        <MudTh>Stock initial</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Num</MudTd>
        <MudTd>
            <MudImage Src="@context.Image" Height="60" Alt="@context.Désignation" Elevation="6" Class="rounded-lg ma-2" />
        </MudTd>
        <MudTd DataLabel="Catégorie">@context.Catégorie</MudTd>
        <MudTd DataLabel="Désignation">@context.Désignation</MudTd>
        <MudTd DataLabel="Prix d'achat">@context.PrixAchat</MudTd>
        <MudTd DataLabel="Stock de départ">@context.StockInitial</MudTd>
        <MudTd>
            <MudTooltip Text="Voir plus" Color="Color.Primary" Placement="Placement.Top" Arrow="true">
                <MudIconButton Color="Color.Primary" Variant="Variant.Filled" OnClick="()=>show(context.Code)" Icon="@Icons.Material.Filled.ChevronRight" />
            </MudTooltip>
            <MudTooltip Text="Modifier" Color="Color.Success" Placement="Placement.Top" Arrow="true">
                <MudIconButton Color="Color.Success" Variant="Variant.Filled" OnClick="()=>edit(context.Code)" Icon="@Icons.Material.Filled.Edit" />
            </MudTooltip>
            <MudTooltip Text="Supprimer" Color="Color.Error" Placement="Placement.Top" Arrow="true">
                <MudIconButton Color="Color.Error" Variant="Variant.Filled" OnClick="()=>delete(context.Code)" Icon="@Icons.Material.Filled.Delete" />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager HideRowsPerPage="true" />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <div style="min-width:200px;">
        <MudText Class="align-self-center d-inline">Article sélectionné : @selectedItem1?.Désignation Stock initial : @selectedItem1?.StockInitial</MudText>
    </div>
</div>


@code {
    private string searchString1 = "";
    private ProduitViewModel selectedItem1 = null;
    [Inject] private IDialogService DialogService { get; set; }
    ﻿[Inject] ProduitService datacontext { get; set; }
    [Inject] ISnackbar snackbar { get; set; }
    private List<ProduitViewModel> Elements = new List<ProduitViewModel>();

    protected override async Task OnInitializedAsync()
    {
        GetData();
    }

    async void GetData()
    {
        var data = await datacontext.GetAll();

        int num = 1;
        foreach (var i in data)
        {
            Elements.Add(new ProduitViewModel
                {
                    Num = num,
                    Code = i.Id,
                    Catégorie = i.Category.Libellé,
                    Désignation = i.Designation,
                    PrixAchat = i.PrixAchat + " " + i.Monnaie,
                    StockInitial = i.StockInitial,
                    Image = i.Image
                });
            num++;
        }
        StateHasChanged();
    }


    async void add()
    {
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };
        var dialog = await DialogService.ShowAsync<AddArticle>("Ajouter un article",maxWidth);
        var result = await dialog.Result;
        if (result.Canceled)
            GetData();
    }

    async void show(Guid id)
    {
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.ExtraLarge, FullWidth = true, Position = DialogPosition.TopCenter };
        var parameters = new DialogParameters<ShowArticle> { { x => x.Id, id } };
        await DialogService.ShowAsync<ShowArticle>("Detail de l'article", parameters, maxWidth);
    }

    async void edit(Guid id)
    {
        DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Small, FullWidth = true };
        var parameters = new DialogParameters<AddArticle> { { x => x.Id, id } };
        var dialog = await DialogService.ShowAsync<AddArticle>("Modifier un article", parameters, maxWidth);
        var result = await dialog.Result;
        if (result.Canceled)
            GetData();
    }

    async void delete(Guid id)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Suppression",
            "Voulez - vous supprimer cet article ?",
            yesText: "Confirmer !", cancelText: "Annuler");
        if (result == true)
        {
            var rep = await datacontext.Delete(id);
            snackbar.Add(rep.Message, (Severity)rep.TypeResponse);
            GetData();
        }
    }

    private bool FilterFunc1(ProduitViewModel element) => FilterFunc(element, searchString1);

    private bool FilterFunc(ProduitViewModel element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Désignation.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Catégorie.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.PrixAchat.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}